* {
      border: none;
      border-radius: 0px;

      font-family: "Agave Nerd Font", "Agave";
      font-weight: bold;

      min-height: 0;
      padding: 0;
      margin: 0;
}

window#waybar{
	background: transparent;
}

tooltip {
        background: #160d1f;
	border: 1px solid #ecdeff;
	border-radius:10px;
}

tooltip label{
	color: #ecdeff;
	padding: 6px;
}

#workspaces{
	background-color: transparent;
	padding: 5px 3px;
        margin: 0 0 0 12px;
	border-radius: 10px;
	color: #f4edff;
}

#workspaces button{
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 50px;
	color: #f3e3ff;
	background-color: #2f2536;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active{
	background-color: #f3e3ff;
	color: #2f2536;
	min-width: 25px;
	transition: all 0.3s ease-in-out;
}


#workspaces button.urgent{
	background-color: #42c99c;
	color: #f3e3ff;
	min-width: 50px;
	background-size: 400% 400%;
	transition: all 0.3s ease-in-out;
}

#pulseaudio{
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 50px;
	color: #f5c531;
	background-color: #2f2536;
        font-weight: normal;
}

#cpu{
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 50px;
	color: #44c2db;
	background-color: #2f2536;
	font-weight: normal;
}


#clock{
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 50px;
	color: #f3e3ff;
	background-color: #2f2536;
        font-weight: normal;
}

#temperature{
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 50px;
	color: #c41a39;
	background-color: #2f2536;
        font-weight: normal;
}

#memory{
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 50px;
	color: #3fd46e;
	background-color: #2f2536;
        font-weight: normal;
}
