* {
  font-family: Agave Nerd Font;
  background: transparent;
  color: #d8cab8;
}

#window {
  color: #ecdeff;
  border-color: #ecdeff;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #150e1f 100%);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #ecdeff;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #ecdeff;
  color: #ecdeff;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #3e324f;
  color: #ecdeff;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #160d1f;
  color: #ecdeff;
  border-color: #ecdeff;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 7px;
  margin: 8px;
}
#input:focus {
  background: #27232b;
  background-color: #27232b;
  border-color: #ac82e9;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
